.nav {
  background-color: aqua;
  color: #02021ade;
  padding: 15px 20px;
}

.nav ul {
  display: flex;          /* Is se saare items ek hi line mein aa jayenge */
  list-style: none;       /* Bullets (dots) khatam karne ke liye */
  gap: 30%;              /* Items ke darmiyan gap/fasla dene ke liye */
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}